In [30]:
import pandas as pd
import random

In [31]:
df = pd.read_excel(r'C:\Users\ilyx\Desktop\REVIEW-main\review_preprocessing.xlsx')

In [32]:
# выбор отзывов с рейтингом 2
reviews = df[df["Rating"] == 2]["Rewiew"]

# генерация новых отзывов
new_reviews = []
for review in reviews:
    words = review.split()
    new_review1 = " ".join(words[::-1])
    new_review2 = " ".join(words[::2] + words[1::2][::-1])
    new_reviews.extend([new_review1, new_review2])

# добавление новых отзывов в датасет
new_df = pd.DataFrame({"Rating": [2] * len(new_reviews), "Rewiew": new_reviews})
# df = pd.concat([df, new_df], ignore_index=True)

In [33]:
reviews

87       обновление становиться сильно тупить затемнени...
326      ужасный звучание динамика хрипеть аж противно ...
460      телефон приходить рабочий состояние заказывать...
469      покупать мама 65 год телефон жутко тупить вотс...
489      телефон приходить быстро прорабатывать неделя ...
                               ...
12561    батарея держаться час телефон подключаться пол...
12568         идеально работать младший братишка оценивать
12573    приходить срокдействительно ремешок иметь спец...
12588                             прекрасный часы работать
12590    самый хороший копия комплект очень долго выбир...
Name: Rewiew, Length: 514, dtype: object

In [34]:
new_df

      Rating                                             Rewiew
0          2  работать неадекватно сенсор экран затемнение т...
1          2  обновление сильно затемнение сенсор работать н...
2          2  слушать противно аж хрипеть динамика звучание ...
3          2  ужасный динамика аж слушать противно хрипеть з...
4          2  вообщий безобразие кнопочный модель присылать ...
...      ...                                                ...
1023       2  приходить ремешок спец заменитьдолго звонок пе...
1024       2                           работать часы прекрасный
1025       2                           прекрасный работать часы
1026       2  :wrapped_gift: подарок заказывать большой спас...
1027       2  самый копия очень выбирать классный читать оче...

[1028 rows x 2 columns]

In [35]:
from collections import Counter
Counter(df.Rating)

Counter({3: 839, 5: 8061, 4: 1407, 1: 1771, 2: 514})

In [36]:
# выбор отзывов с рейтингом 2
reviews = df[df["Rating"] == 3]["Rewiew"]

# генерация новых отзывов
new_reviews = []
for review in reviews:
    if isinstance(review, str):
        words = review.split()
        new_review1 = " ".join(words[::-1])
        new_reviews.append(new_review1)
# добавление новых отзывов в датасет
new_df_ = pd.DataFrame({"Rating": [3] * len(new_reviews), "Rewiew": new_reviews})
df_new = pd.concat([new_df, new_df_], ignore_index=True)

In [37]:
new_df_

     Rating                                             Rewiew
0         3  касание работать становиться сенсор подтуплива...
1         3  поделать ничто печально легкий очень телефон в...
2         3  покупать дорогой вещь вб вывод ремонт относить...
3         3  vpn встраивать плохо очень андроид 12м самый к...
4         3        использование месяц 2х подтупливать немного
..      ...                                                ...
832       3                                     товар отличный
833       3  разбираться никак обои поменять вопрос часы от...
834       3                       отказ зарядка цвет приходить
835       3  сутки 2 держать заряд :sparkling_heart: понрав...
836       3  реагировать движение экран гореть работать пер...

[837 rows x 2 columns]

In [38]:
# df = pd.concat([df, new_df_], ignore_index=True)

In [39]:
from collections import Counter
Counter(df.Rating)

Counter({3: 839, 5: 8061, 4: 1407, 1: 1771, 2: 514})

In [40]:
indices_to_drop = df[df['Rating'] == 5].head(6000)['Rating'].index
# Удалите эти строки из исходного DataFrame
df.drop(indices_to_drop, inplace=True)

In [41]:
from collections import Counter
Counter(df.Rating)

Counter({3: 839, 4: 1407, 1: 1771, 2: 514, 5: 2061})

In [42]:
df

,Unnamed: 0.1,Unnamed: 0,rewiew_ID,article,Date,Name,Rating,Rewiew,amount Photo
0,0,0,y1a2e4cBpT2rITcGXb5U,123837570,13-04-2023 17:42:42,Владимир,3,начинать подтупливать сенсор становиться работ...,0
18,18,18,-DXpUIcBxpMXtsmOPat0,123837570,05-04-2023 10:14:36,Евгений,3,телефон быстрый хороший оболочка глючать хлипк...,0
31,31,31,ojLKMYcBMBFuPsko1ha6,123837570,30-03-2023 09:13:10,Наталья,3,телефон купить декабрь спустя месяц начинать в...,0
39,39,39,jl4JKIcBtPujtG5sD7mq,123837570,28-03-2023 11:44:55,Артем,3,телефон неплохой недочет приходить скрепка защ...,0
42,42,42,0q9bH4cBJ99b87NGoOGL,123837570,26-03-2023 19:18:31,Александр,4,телефон плохой почемуто обновление система ста...,0
...,...,...,...,...,...,...,...,...,...
12587,12587,20567,ynKqwoMBXuaGXcNpj82i,110354345,06-10-2022 19:24:08,Екатерина,4,отлично спасибо,2
12588,12588,20587,Gt-leoMBI2nds0aGMKDT,110354345,22-09-2022 07:21:12,Екатерина,2,прекрасный часы работать,1
12589,12589,20592,_ip0ZYMBOCC9xHZPIgPO,110354345,20-09-2022 05:35:40,Анна,1,отличный качественный час,2
12590,12590,20593,lilXZYMBOCC9xHZPwPVd,110354345,19-09-2022 17:40:11,Алиса,2,самый хороший копия комплект очень долго выбир...,0
12591,12591,20597,qiXfXYMBeiioYr22_qEo,110354345,15-09-2022 12:17:16,Елизавета,1,хороший час функция который знать ремешок длин...,0

In [43]:
df_new['amount Photo'] = [0] * len(df_new)
df_new

      Rating                                             Rewiew  amount Photo
0          2  работать неадекватно сенсор экран затемнение т...             0
1          2  обновление сильно затемнение сенсор работать н...             0
2          2  слушать противно аж хрипеть динамика звучание ...             0
3          2  ужасный динамика аж слушать противно хрипеть з...             0
4          2  вообщий безобразие кнопочный модель присылать ...             0
...      ...                                                ...           ...
1860       3                                     товар отличный             0
1861       3  разбираться никак обои поменять вопрос часы от...             0
1862       3                       отказ зарядка цвет приходить             0
1863       3  сутки 2 держать заряд :sparkling_heart: понрав...             0
1864       3  реагировать движение экран гореть работать пер...             0

[1865 rows x 3 columns]

In [126]:
for i in range(len(df_new['amount Photo'])):
    r = random.randint(0, 100)
    if r > 19:
        df_new['amount Photo'][i] = 0
    if 19 >= r > 11:
        df_new['amount Photo'][i] = 1
    if 11 >= r > 7:
        df_new['amount Photo'][i] = 2
    if 7 >= r > 4:
        df_new['amount Photo'][i] = 3
    if 4 > r >= 3:
        df_new['amount Photo'][i] = 4
    if r < 3:
        df_new['amount Photo'][i] = random.randint(5, 16)

C:\Users\ilyx\AppData\Local\Temp\ipykernel_14912\4161915936.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 0
C:\Users\ilyx\AppData\Local\Temp\ipykernel_14912\4161915936.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = random.randint(5, 16)
C:\Users\ilyx\AppData\Local\Temp\ipykernel_14912\4161915936.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 1
C:\Users\ilyx\AppData\Local\Temp\ipykernel_14912\4161915936.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 3
C:\Users\ilyx\AppData\Local\Temp\ipykernel_14912\4161915936.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 2
C:\Users\ilyx\AppData\Local\Temp\ipykernel_14912\4161915936.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 4

In [100]:
perc = {}
count_ = Counter(df['amount Photo'])
for k, v in count_.items():
    perc[k] = (v * 100) / len(df)
print(perc)

{0: 81.21966019417475, 2: 3.8986650485436893, 1: 7.706310679611651, 3: 2.7305825242718447, 4: 1.2894417475728155, 10: 0.12135922330097088, 6: 1.2894417475728155, 8: 0.39441747572815533, 5: 0.30339805825242716, 12: 0.4550970873786408, 9: 0.30339805825242716, 24: 0.09101941747572816, 18: 0.10618932038834951, 15: 0.04550970873786408, 16: 0.04550970873786408}

In [101]:
Counter(df_new['amount Photo'])

Counter({0: 1492,
         13: 6,
         2: 83,
         1: 168,
         4: 50,
         3: 34,
         7: 4,
         5: 4,
         10: 5,
         11: 3,
         14: 2,
         8: 2,
         6: 3,
         9: 3,
         16: 1,
         15: 3,
         12: 2})

In [127]:
perc = {}
count_ = Counter(df_new['amount Photo'])
for k, v in count_.items():
    perc[k] = (v * 100) / len(df_new)
print(perc)

{0: 81.07238605898124, 7: 0.21447721179624665, 1: 7.345844504021447, 3: 3.324396782841823, 13: 0.32171581769436997, 2: 4.289544235924933, 15: 0.16085790884718498, 8: 0.32171581769436997, 6: 0.16085790884718498, 14: 0.4289544235924933, 12: 0.32171581769436997, 9: 0.10723860589812333, 11: 0.48257372654155495, 4: 0.8579088471849866, 5: 0.21447721179624665, 16: 0.32171581769436997, 10: 0.05361930294906166}

In [128]:
df = pd.concat([df, df_new], ignore_index=True)

In [129]:
df.to_excel(r'C:\Users\ilyx\Desktop\REVIEW-main\review_preprocessing.xlsx')