In [131]:
import pandas as pd
import random

In [132]:
df = pd.read_excel(r'C:\Users\ilyx\Desktop\REVIEW-main\review_preprocessing.xlsx')

In [133]:
# df = df.drop(df.index[6594:])

In [134]:
# выбор отзывов с рейтингом 2
reviews = df[df["Rating"] == 2][["Rewiew", "amount Photo"]]

In [135]:
from collections import Counter
Counter(reviews['amount Photo'])

Counter({0: 400,
         1: 47,
         3: 15,
         2: 22,
         4: 7,
         5: 2,
         12: 3,
         24: 1,
         6: 8,
         18: 2,
         15: 2,
         8: 2,
         10: 1,
         9: 1,
         16: 1})

In [136]:
perc = {}
count_ = Counter(reviews['amount Photo'])
for k, v in count_.items():
    perc[k] = (v * 100) / len(reviews)
print(perc)

{0: 77.82101167315174, 1: 9.14396887159533, 3: 2.9182879377431905, 2: 4.280155642023346, 4: 1.3618677042801557, 5: 0.38910505836575876, 12: 0.5836575875486382, 24: 0.19455252918287938, 6: 1.556420233463035, 18: 0.38910505836575876, 15: 0.38910505836575876, 8: 0.38910505836575876, 10: 0.19455252918287938, 9: 0.19455252918287938, 16: 0.19455252918287938}

In [137]:

# генерация новых отзывов
new_reviews = []
for review in reviews:
    words = review.split()
    new_review1 = " ".join(words[::-1])
    new_review2 = " ".join(words[::2] + words[1::2][::-1])
    new_reviews.extend([new_review1, new_review2])

# добавление новых отзывов в датасет
new_df = pd.DataFrame({"Rating": [2] * len(new_reviews), "Rewiew": new_reviews})
# df = pd.concat([df, new_df], ignore_index=True)

In [138]:
reviews

                                                  Rewiew  amount Photo
87     обновление становиться сильно тупить затемнени...             0
326    ужасный звучание динамика хрипеть аж противно ...             0
460    телефон приходить рабочий состояние заказывать...             0
469    покупать мама 65 год телефон жутко тупить вотс...             0
489    телефон приходить быстро прорабатывать неделя ...             0
...                                                  ...           ...
12561  батарея держаться час телефон подключаться пол...             1
12568       идеально работать младший братишка оценивать             1
12573  приходить срокдействительно ремешок иметь спец...             1
12588                           прекрасный часы работать             1
12590  самый хороший копия комплект очень долго выбир...             0

[514 rows x 2 columns]

In [139]:
new_df

   Rating        Rewiew
0       2        Rewiew
1       2        Rewiew
2       2  Photo amount
3       2  amount Photo

In [140]:
from collections import Counter
Counter(df.Rating)

Counter({3: 839, 5: 8061, 4: 1407, 1: 1771, 2: 514})

In [141]:
# выбор отзывов с рейтингом 2
reviews = df[df["Rating"] == 3]["Rewiew"]

# генерация новых отзывов
new_reviews = []
for review in reviews:
    if isinstance(review, str):
        words = review.split()
        new_review1 = " ".join(words[::-1])
        new_reviews.append(new_review1)
# добавление новых отзывов в датасет
new_df_ = pd.DataFrame({"Rating": [3] * len(new_reviews), "Rewiew": new_reviews})
df_new = pd.concat([new_df, new_df_], ignore_index=True)

In [142]:
new_df_

     Rating                                             Rewiew
0         3  касание работать становиться сенсор подтуплива...
1         3  поделать ничто печально легкий очень телефон в...
2         3  покупать дорогой вещь вб вывод ремонт относить...
3         3  vpn встраивать плохо очень андроид 12м самый к...
4         3        использование месяц 2х подтупливать немного
..      ...                                                ...
832       3                                     товар отличный
833       3  разбираться никак обои поменять вопрос часы от...
834       3                       отказ зарядка цвет приходить
835       3  сутки 2 держать заряд :sparkling_heart: понрав...
836       3  реагировать движение экран гореть работать пер...

[837 rows x 2 columns]

In [143]:
# df = pd.concat([df, new_df_], ignore_index=True)

In [144]:
from collections import Counter
Counter(df.Rating)

Counter({3: 839, 5: 8061, 4: 1407, 1: 1771, 2: 514})

In [145]:
indices_to_drop = df[df['Rating'] == 5].head(6000)['Rating'].index
# Удалите эти строки из исходного DataFrame
df.drop(indices_to_drop, inplace=True)

In [146]:
from collections import Counter
Counter(df.Rating)

Counter({3: 839, 4: 1407, 1: 1771, 2: 514, 5: 2061})

In [147]:
df

,Unnamed: 0.1,Unnamed: 0,rewiew_ID,article,Date,Name,Rating,Rewiew,amount Photo
0,0,0,y1a2e4cBpT2rITcGXb5U,123837570,13-04-2023 17:42:42,Владимир,3,начинать подтупливать сенсор становиться работ...,0
18,18,18,-DXpUIcBxpMXtsmOPat0,123837570,05-04-2023 10:14:36,Евгений,3,телефон быстрый хороший оболочка глючать хлипк...,0
31,31,31,ojLKMYcBMBFuPsko1ha6,123837570,30-03-2023 09:13:10,Наталья,3,телефон купить декабрь спустя месяц начинать в...,0
39,39,39,jl4JKIcBtPujtG5sD7mq,123837570,28-03-2023 11:44:55,Артем,3,телефон неплохой недочет приходить скрепка защ...,0
42,42,42,0q9bH4cBJ99b87NGoOGL,123837570,26-03-2023 19:18:31,Александр,4,телефон плохой почемуто обновление система ста...,0
...,...,...,...,...,...,...,...,...,...
12587,12587,20567,ynKqwoMBXuaGXcNpj82i,110354345,06-10-2022 19:24:08,Екатерина,4,отлично спасибо,2
12588,12588,20587,Gt-leoMBI2nds0aGMKDT,110354345,22-09-2022 07:21:12,Екатерина,2,прекрасный часы работать,1
12589,12589,20592,_ip0ZYMBOCC9xHZPIgPO,110354345,20-09-2022 05:35:40,Анна,1,отличный качественный час,2
12590,12590,20593,lilXZYMBOCC9xHZPwPVd,110354345,19-09-2022 17:40:11,Алиса,2,самый хороший копия комплект очень долго выбир...,0
12591,12591,20597,qiXfXYMBeiioYr22_qEo,110354345,15-09-2022 12:17:16,Елизавета,1,хороший час функция который знать ремешок длин...,0

In [148]:
df_new['amount Photo'] = [0] * len(df_new)
df_new

     Rating                                             Rewiew  amount Photo
0         2                                             Rewiew             0
1         2                                             Rewiew             0
2         2                                       Photo amount             0
3         2                                       amount Photo             0
4         3  касание работать становиться сенсор подтуплива...             0
..      ...                                                ...           ...
836       3                                     товар отличный             0
837       3  разбираться никак обои поменять вопрос часы от...             0
838       3                       отказ зарядка цвет приходить             0
839       3  сутки 2 держать заряд :sparkling_heart: понрав...             0
840       3  реагировать движение экран гореть работать пер...             0

[841 rows x 3 columns]

In [149]:
for i in range(len(df_new['amount Photo'])):
    r = random.randint(0, 100)
    if r > 23:
        df_new['amount Photo'][i] = 0
    if 23 >= r > 14:
        df_new['amount Photo'][i] = 1
    if 14 >= r > 9:
        df_new['amount Photo'][i] = 2
    if 9 >= r > 6:
        df_new['amount Photo'][i] = 3
    if 6 > r >= 4:
        df_new['amount Photo'][i] = 4
    if r < 3:
        df_new['amount Photo'][i] = random.randint(5, 9)

C:\Users\ilyx\AppData\Local\Temp\ipykernel_5052\825507220.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 1
C:\Users\ilyx\AppData\Local\Temp\ipykernel_5052\825507220.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 0
C:\Users\ilyx\AppData\Local\Temp\ipykernel_5052\825507220.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 2
C:\Users\ilyx\AppData\Local\Temp\ipykernel_5052\825507220.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = random.randint(5, 9)
C:\Users\ilyx\AppData\Local\Temp\ipykernel_5052\825507220.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 3
C:\Users\ilyx\AppData\Local\Temp\ipykernel_5052\825507220.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new['amount Photo'][i] = 4

In [150]:
Counter(df_new['amount Photo'])

Counter({1: 77, 0: 641, 2: 49, 7: 6, 3: 25, 4: 23, 6: 4, 8: 4, 9: 7, 5: 5})

In [151]:
perc = {}
count_ = Counter(df_new['amount Photo'])
for k, v in count_.items():
    perc[k] = (v * 100) / len(df_new)
print(perc)

{1: 9.15576694411415, 0: 76.21878715814506, 2: 5.826397146254459, 7: 0.713436385255648, 3: 2.972651605231867, 4: 2.7348394768133173, 6: 0.4756242568370987, 8: 0.4756242568370987, 9: 0.8323424494649228, 5: 0.5945303210463734}

In [152]:
df = pd.concat([df, df_new], ignore_index=True)

In [153]:
df.to_excel(r'C:\Users\ilyx\Desktop\REVIEW-main\review_preprocessing.xlsx')