In [17]:
import pandas as pd

In [18]:
df = pd.read_excel(r'C:\Users\ilyx\Documents\GitHub\REVIEW\xlsx\review_preprocessing.xlsx')

In [19]:
lens = [] 
for i in df.Rewiew:
    lens.append(len(str(i)))

In [20]:
df['LenReview'] = lens
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,rewiew_ID,article,Date,Name,Rating,Rewiew,amount Photo,LenReview
0,0,0.0,0.0,y1a2e4cBpT2rITcGXb5U,123837570.0,13-04-2023 17:42:42,Владимир,3,начинать подтупливать сенсор становиться работ...,0,57
1,1,18.0,18.0,-DXpUIcBxpMXtsmOPat0,123837570.0,05-04-2023 10:14:36,Евгений,3,телефон быстрый хороший оболочка глючать хлипк...,0,364
2,2,31.0,31.0,ojLKMYcBMBFuPsko1ha6,123837570.0,30-03-2023 09:13:10,Наталья,3,телефон купить декабрь спустя месяц начинать в...,0,139
3,3,39.0,39.0,jl4JKIcBtPujtG5sD7mq,123837570.0,28-03-2023 11:44:55,Артем,3,телефон неплохой недочет приходить скрепка защ...,0,145
4,4,42.0,42.0,0q9bH4cBJ99b87NGoOGL,123837570.0,26-03-2023 19:18:31,Александр,4,телефон плохой почемуто обновление система ста...,0,111
...,...,...,...,...,...,...,...,...,...,...,...
7428,7428,NaN,NaN,NaN,NaN,NaN,NaN,3,товар отличный,0,14
7429,7429,NaN,NaN,NaN,NaN,NaN,NaN,3,разбираться никак обои поменять вопрос часы от...,0,52
7430,7430,NaN,NaN,NaN,NaN,NaN,NaN,3,отказ зарядка цвет приходить,0,28
7431,7431,NaN,NaN,NaN,NaN,NaN,NaN,3,сутки 2 держать заряд :sparkling_heart: понрав...,0,51
7432,7432,NaN,NaN,NaN,NaN,NaN,NaN,3,реагировать движение экран гореть работать пер...,0,59

In [21]:
df['isReal'] = lens

In [22]:
for i in range(len(df)):
    if df['LenReview'].loc[i] < 67 and df['Rating'].loc[i] < 3:
        df['isReal'].loc[i] = 0
    else:
        df['isReal'].loc[i] = 1

C:\Users\ilyx\AppData\Local\Temp\ipykernel_20060\3454778796.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['isReal'].loc[i] = 1
C:\Users\ilyx\AppData\Local\Temp\ipykernel_20060\3454778796.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['isReal'].loc[i] = 0

In [23]:
df

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,rewiew_ID,article,Date,Name,Rating,Rewiew,amount Photo,LenReview,isReal
0,0,0.0,0.0,y1a2e4cBpT2rITcGXb5U,123837570.0,13-04-2023 17:42:42,Владимир,3,начинать подтупливать сенсор становиться работ...,0,57,1
1,1,18.0,18.0,-DXpUIcBxpMXtsmOPat0,123837570.0,05-04-2023 10:14:36,Евгений,3,телефон быстрый хороший оболочка глючать хлипк...,0,364,1
2,2,31.0,31.0,ojLKMYcBMBFuPsko1ha6,123837570.0,30-03-2023 09:13:10,Наталья,3,телефон купить декабрь спустя месяц начинать в...,0,139,1
3,3,39.0,39.0,jl4JKIcBtPujtG5sD7mq,123837570.0,28-03-2023 11:44:55,Артем,3,телефон неплохой недочет приходить скрепка защ...,0,145,1
4,4,42.0,42.0,0q9bH4cBJ99b87NGoOGL,123837570.0,26-03-2023 19:18:31,Александр,4,телефон плохой почемуто обновление система ста...,0,111,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7428,7428,NaN,NaN,NaN,NaN,NaN,NaN,3,товар отличный,0,14,1
7429,7429,NaN,NaN,NaN,NaN,NaN,NaN,3,разбираться никак обои поменять вопрос часы от...,0,52,1
7430,7430,NaN,NaN,NaN,NaN,NaN,NaN,3,отказ зарядка цвет приходить,0,28,1
7431,7431,NaN,NaN,NaN,NaN,NaN,NaN,3,сутки 2 держать заряд :sparkling_heart: понрав...,0,51,1
7432,7432,NaN,NaN,NaN,NaN,NaN,NaN,3,реагировать движение экран гореть работать пер...,0,59,1

In [24]:
df['text'] = df.apply(lambda row: ' '.join([str(row['Rewiew']),'Rating:', str(row['Rating']), 'Amount Photo:', str(row['amount Photo']), 'LenReview:', str(row['LenReview'])]), axis=1)

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['text'])
y = df.isReal

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
gb_clf = GradientBoostingClassifier(n_estimators=1000, learning_rate=0.1, max_depth=3, random_state=42)

# Обучение модели на обучающей выборке
gb_clf.fit(X_train, y_train)

# Получение предсказаний на тестовой выборке
y_pred = gb_clf.predict(X_test)

# Вычисление точности модели
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.8722259583053127

In [28]:
# from sklearn.model_selection import GridSearchCV
# from sklearn.ensemble import GradientBoostingClassifier

# # Создаем объект GradientBoostingClassifier
# gb = GradientBoostingClassifier()

# # Задаем сетку параметров для GridSearchCV
# param_grid = {'n_estimators': [50, 100, 150, 1000, 2000],
#               'learning_rate': [0.01, 0.1, 1],
#               'max_depth': [3, 5, 7]}

# # Создаем объект GridSearchCV
# grid_search = GridSearchCV(gb, param_grid=param_grid, cv=5)

# # Обучаем GridSearchCV на данных
# grid_search.fit(X_train, y_train)

# # Выводим лучшие параметры и оценку на кросс-валидации
# print("Best parameters:", grid_search.best_params_)
# print("Best score:", grid_search.best_score_)

In [30]:
import pickle
with open('isReal_model.pickle', 'wb') as f:
    pickle.dump(gb_clf, f)

In [29]:
df.to_excel(r'C:\Users\ilyx\Documents\GitHub\REVIEW\xlsx\review_preprocessing_with_real.xlsx')